<!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Trabajo de fin de estudio - Unir
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2022. Todos los derechos reservados.
  </footer>
