
            <div class="row">
                <div class="col-lg-6">

                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <img src="~/img/Unir.png" class="img-fluid">
                        </div>
                    </div><!-- /.card -->

                    <div class="card">
                        <div class="card-body">
                            <img src="~/img/Grado.png" class="img-fluid">
                        </div>
                    </div>

                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Resumen</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">
                                La gestión del tiempo y asistencia en las empresas cobra más importancia cada día, sobre todo cuando aproximadamente un 84%
                                de las ausencias generadas en las empresas son peticiones de vacaciones, además de los permisos laborales contemplados por
                                ley o convenio colectivo. Muchas empresas subestiman el proceso de llevar una buena gestión de vacaciones y permisos, por esta
                                razón el uso de herramientas tecnológicas no está muy extendido, acarreando problemas organizativos, descontento entre los
                                empleados y en la mayoría de las ocasiones, perdida de dinero. La solución a este problema se aborda mediante el desarrollo de
                                una aplicación, que les permita a las empresas tener una visión clara, transparente y compartida del calendario de ausencias de
                                todos los empleados, lo que permitiría tomar decisiones acertadas en relación a la disponibilidad, que puedan gestionar las
                                solicitudes de vacaciones y permisos, así como también el seguimiento y control de sus aprobaciones. Esta solución se implementa
                                con herramientas de código abierto y con la flexibilidad que necesita para crear e implementar aplicaciones web modernas, lo que
                                permite el acceso desde cualquier dispositivo con acceso a internet, ya sean ordenadores de sobre mesa, portátiles, tablets o
                                teléfonos móviles. Mediante ASP.NET Core a través de Visual Studio se realizan estas implementaciones en cualquier servidor web,
                                además de poder escalar a la nube con Microsoft Azure.
                            </h6>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Trabajo fin de estudio presentado por:</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">César Javier Serrano Mujica</h6>
                            <!--
                            <p class="card-text">Ciudad: Madrid</p>
                            <p class="card-text">Línea de investigación: Desarrollo de aplicaciones web</p>
                            -->
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->